//Colors

$color-primary:#e69e6c;
$color-grey:#746661;
$colorg-grey-light:rgba(#746661, 0.84);
$color-white:#fff;
$color-grey-light-1:#aba49d;

$color-brown:#746661;

//margin
$default-margin:1.7rem 2rem;
