.benifits {
  grid-column: full-start / full-end;
  background-color: #fdf8f1;
  color: $color-brown;

  &__heading {
    padding-top: 14rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }

  &__para {
    color: $color-grey-light-1;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    color:$color-primary;
    letter-spacing: 1.3px;

  }

  &__heading {
    &--small {
      color: $color-primary;
      letter-spacing: 1.3px;
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  &__card {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min-content,38rem));
    grid-template-rows: min-content;


  justify-content: center;
    margin-top: 5rem;

    &--box {
      display: grid;
      grid-template-rows: repeat(3,max-content);
      grid-row-gap:2rem;
      justify-items: center;

      img {
        max-width: 26vw;
        max-height:25vw;
        object-fit: cover;
      }
    }
  }

  &__main{
    font-weight: 500;
    text-align: center;
  }
}
