.hero{
  grid-column: center-start / col-end 6;
  grid-row: 3 / 4;
  z-index: 2;
  align-self:center;
  display: grid;



  &__heading-1{
    margin-bottom: 3rem;
  }

  &__heading-2{
    margin-bottom: 3rem;
  }

  &__bottom{
  align-self: center;
  }
  &__btn{
    align-self: start;
    justify-self:start;

  }

  &__dot{
    color:$color-primary;
  }

}
