.review{
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min-content,27rem));
    justify-items:center;
    justify-content: center;
    grid-column-gap:2rem;
    color:$color-grey-light-1;
    font-size: 1.6rem;
    line-height: 2;
    padding: 5rem 0;
    align-items: center;
}


.stars{
  display:flex;
  margin-bottom: 2rem;

  .star{
    width:2rem;
    height: 2rem;
    fill:$color-primary;
  }

}

.review__text{
  display: flex;
  flex-direction: column;
  align-items: center;
  [class*='supporter']{
    color:$color-brown;
  }

  &-supporter{
  text-align: center;
  &-1{
    letter-spacing: 3px;
    font-size: 3.5rem;
  }
  &-2{
  letter-spacing: -3px;
  }
  &-3{

  }
  &-4{
    letter-spacing: -3px;
    margin-top: 2.8rem;
  }
  &-5{
    letter-spacing: 3px;
  }

  }
}


.span{
  text-decoration: underline;
  font-size: 1rem;
}
